beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
django==2.2.24
django-debug-toolbar==1.8
django-filter==1.0.4
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
Markdown==2.6.8
MySQL-python==1.2.3
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
python-decouple==3.1
python-vlc==1.1.2
pytz==2017.2
requests==2.18.1
sqlparse==0.2.3
static3==0.7.0
urllib3==1.21.1
var-dump==1.1
web.py==0.38
whitenoise==3.3.0
